.sidebar
  .sidebar__top
    .sidebar__top__item
      .sidebar__top__item__user masa
      .sidebar__top__item__icon 
        .sidebar__top__item__icon__edit 
        = link_to "#", class:"icon" do
          %i.far.fa-edit  
        = link_to "#", class:"icon" do
          %i.fas.fa-cog  
  
  .sidebar__grouplist
    %h2.title techcamp
    %h2.text まだメッセージがありません

          


    