* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;

  .sidebar{
    background-color: #2f3e51;
    width: 300px;
    &__top{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;

    
      &__item{
        margin:0 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        width: 260px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        &__icon{
          width: 60px;
          text-align: right;
          .icon{
            color: #ffffff;
            display: inline-block;
            margin-left: 5px;
            
            }
          
          }
        }
      }
    &__grouplist{
      margin: 20px 20px 40px 20px;
      color: #ffffff;
      .title{
      font-size: 15px;
      margin-bottom: 5px;
      font-weight: bold;

      }
      .text{
      font-size: 11px;
      font-weight: bold;

      }
    
      
      
    }
  }
    








  
  
  .main{
    width: calc(100vw - 300px);
    &__top{
      height: 100px;
      background-color: #ffffff;
  
    }
    &__message{
      height: calc(100vh - 190px);
      background-color: #fafafa;
   
    }
    &__form{
      background-color: #d2d2d2;
      height: 90px;
  
    }
  
  }
}



